<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anniversary Dates| VenusFrame</title>
</head>

<body>

  <h1 class="big-title">Anniversary !!!</h1>
  <h3 class="big-text">Your Dating Anniversary is <%= anniversaryInfo.datingAnniversary%></h3>
  <h3 class="big-text">Your Birthday is <%= anniversaryInfo.birthday%></h3>
  <% if (anniversaryInfo.weddingAnniversary) { %>
    <h3 class="big-text">Your Wedding Anniversary is <%= anniversaryInfo.weddingAnniversary%> </h3>
    <% } else { %>
    <h3 class="big-text">You did not put your Wedding Anniversary</h3>
    <% } %>
  <% if (anniversaryInfo.specialday) { %>
    <h3 class="big-text">Your speical day is <%= anniversaryInfo.specialday%> </h3>
    <% } else { %>
    <h3 class="big-text">You did not put your special day.</h3>
    <% } %>
  <% if (anniversaryInfo.specialdate) { %>
    <h3 class="big-text">Your Wedding Anniversary is <%= anniversaryInfo.specialdate%> </h3>
    <% } else { %>
    <h3 class="big-text">You did not put your special date.</h3>
    <% } %>
</body>

</html>
