<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title><%= user.username %>'s Profile Page | VenusFrame </title>
  </head>
  <body>
    <h1 class="big-title"><%= user.username %>'s Profile Page</h1>
    <h3 class="big-text"><%= user.profileViews %> Views</h3>
    <h3 class="big-text">Highest Win Streak in Rules of Love: <%= user.highestWinStreak %> Games</h3>

    <% if (user.partner) { %>
      <h3 class="big-text">Taken By: <a href = '/users/<%= user.partner.userId %>'><%= user.partner.username %></a></h3>
    <% } else { %>
      <h3 class="big-text">Single</h3>
    <% } %>
    <h1 class = "space"></h1>

    <% if (loggedIn && user.userId === authenticatedId) { %>
      <h1 class="big-text">Welcome to your profile page!</h1>
      <% if (!user.partner) { %>
        <h3 class="big-text">You do not have your partner yet.</h3>
        <h3 class="big-text">Your code is  <%= user.typeCode %> : Share it with your partner.</h3>
      <% } %>
    <% } else if (loggedIn) { %>
      <% if (following) { %>
        <div class="center-btn">
          <button class="btn-large"><a href = '/users/unfollow/<%= user.userId %>'>Unfollow</a></button>
        </div>
      <% } else { %>
        <div class="center-btn">
          <button class="btn-large"><a href = '/users/follow/<%= user.userId %>'>Follow</a></button>
        </div>
      <% } %>
    <% } %>

    <h1 class = "space"></h1>
    <div class="center-btn">
      <button class="btn-large"><a href = '/users/<%= user.userId %>/following'>Following: <%= user.following.length %> Users</a></h1>
    </div>
    <div class="center-btn">
      <button class="btn-large"><a href = '/users/<%= user.userId %>/followers'>Followers: <%= user.followers.length %> Users</a></h1>
    </div>

    <h1 class = "space"></h1>
    <div class="center-btn">
      <button class="btn-large"><a href = '/users/PreviewPage'>Return to Preview</a></h1>
    </div>
  </body>
</html>
